body{
    /*background-color: #010318;*/
    background-image: url("../material/mbg_universe.png");
    max-width: 100%;
    max-height: 100%;
}
div{
    display: inline-block;
    position: absolute;
    padding: 10px 10px 10px 10px;
    left: 50vw;
    transform: translate(-50%,-60%);
    top: 50vh;
    animation: scrollAnim 8s linear 0s 1;
    -webkit-animation: scrollAnim 8s linear 0s 1;
    -moz-animation: scrollAnim 8s linear 0s 1;
}
@keyframes scrollAnim {
    0%{
        transform: translate(-50%,60%);
    }
    100%{
        transform: translate(-50%,-60%);
        animation-play-state: paused;
        -webkit-animation-play-state: paused;
        -moz-animation-play-state: paused;
        animation-fill-mode: forwards;
        -webkit-animation-fill-mode: forwards;
        -moz-animation-fill-mode: forwards;
    }
}
@-webkit-keyframes scrollAnim {
    0%{
        transform: translate(-50%,60%);
    }
    100%{
        transform: translate(-50%,-60%);
        animation-play-state: paused;
        -webkit-animation-play-state: paused;
        -moz-animation-play-state: paused;
        animation-fill-mode: forwards;
        -webkit-animation-fill-mode: forwards;
        -moz-animation-fill-mode: forwards;
    }
}
@-moz-keyframes scrollAnim {
    0%{
        transform: translate(-50%,60%);
    }
    100%{
        transform: translate(-50%,-60%);
        animation-play-state: paused;
        -webkit-animation-play-state: paused;
        -moz-animation-play-state: paused;
        animation-fill-mode: forwards;
        -webkit-animation-fill-mode: forwards;
        -moz-animation-fill-mode: forwards;
    }
}
p{
    font-family: Noto Sans CJK TC;
    font-style: normal;
    font-weight: 500;
    display: flex;
    align-items: center;
    text-align: left;
    color: #FFFFFF;
    font-size: 40px;
    line-height: 60px;
}
.title{
    margin-bottom: -10px;
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 60px;
    line-height: 40px;
}
img{
    margin-top: 60px;
    position: relative;
    left: 50%;
    transform: translate(-40%,0) scale(1.2,1.2);
}