#lv1Btn, #lv2Btn{
    position: absolute;
    display: inline-block;
    width: 28vw;
    height: 7vh;
    left: 50vw;
    bottom: 18vh;
    transform: translate(20%,0);
    -webkit-transform: translate(20%,0);
    -moz-transform: translate(20%,0);
    border: none;
    background: #7AD6EA;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: inset 0px 0px 10px rgba(119, 132, 140, 0.3);
    filter: drop-shadow(0px 0px 30px #FFFFFF);
    -webkit-filter: drop-shadow(0px 0px 30px #FFFFFF);
    -moz-filter: drop-shadow(0px 0px 30px #FFFFFF);
    font-family: Noto Sans CJK TC;
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.41px;
    color: #FFFFFF;
}
body {
    background-image: url('../material/mbg_sea.jpg');
}
.opt{
    position: absolute;
    display: inline-block;
    height: 7vh;
    bottom: 6vh;
    left: 50vw;
    font-family: Noto Sans CJK TC;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 40px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.41px;
    border: 4px solid #747373;
    box-sizing: border-box;
    border-radius: 10px;
}
#correct{
    background: #FFFFFF;
    width: 36.8vw;
    transform: translate(-100%,0);
    color: #747373;
}
#sure{
    background: #747373;
    width: 22vw;
    transform: translate(58%,0);
    color: white;
}
.drinkAnim{
    bottom: 20vh;
    animation: drinkAnim 500ms linear 0s infinite;
    -webkit-animation: drinkAnim 500ms linear 0s infinite;
    -moz-animation: drinkAnim 500ms linear 0s infinite;
}
@keyframes drinkAnim{
    0%{background-image: url("../material/handplanet_1.png")}
    50%{background-image: url("../material/handplanet_2.png")}
}
@-webkit-keyframes drinkAnim{
    0%{background-image: url("../material/handplanet_1.png")}
    50%{background-image: url("../material/handplanet_2.png")}
}
@-moz-keyframes drinkAnim{
    0%{background-image: url("../material/handplanet_1.png")}
    50%{background-image: url("../material/handplanet_2.png")}
}
.waterAnim{
    animation: waterAnim 3s linear 0s 1;
    -webkit-animation: waterAnim 3s linear 0s 1;
    -moz-animation: waterAnim 3s linear 0s 1;
}
@keyframes waterAnim {
    0%{background-image: url("../material/drink_bottle_3.png")}
    30%{background-image: url("../material/drink_bottle_2.png")}
    60%{background-image: url("../material/drink_bottle_1.png")}
    90%{background-image: url("../material/drink_bottle_0.png")}
}
@-webkit-keyframes waterAnim {
    0%{background-image: url("../material/drink_bottle_3.png")}
    30%{background-image: url("../material/drink_bottle_2.png")}
    60%{background-image: url("../material/drink_bottle_1.png")}
    90%{background-image: url("../material/drink_bottle_0.png")}
}
@-moz-keyframes waterAnim {
    0%{background-image: url("../material/drink_bottle_3.png")}
    30%{background-image: url("../material/drink_bottle_2.png")}
    60%{background-image: url("../material/drink_bottle_1.png")}
    90%{background-image: url("../material/drink_bottle_0.png")}
}