#lv1Btn, #lv2Btn{
    position: absolute;
    display: inline-block;
    width: 115px;
    height: 7vh;
    left: 50vw;
    bottom: 18vh;
    transform: translate(20%,0);
    -webkit-transform: translate(20%,0);
    -moz-transform: translate(20%,0);
    border: none;
    background: #7AD6EA;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: inset 0px 0px 10px rgba(119, 132, 140, 0.3);
    filter: drop-shadow(0px 0px 30px #FFFFFF);
    -webkit-filter: drop-shadow(0px 0px 30px #FFFFFF);
    -moz-filter: drop-shadow(0px 0px 30px #FFFFFF);
    font-family: Noto Sans CJK TC;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.41px;
    color: #FFFFFF;
}
body {
    background-image: url('../material/mbg_sea.jpg');
}
