#loadBar{
    background: white;
    border-radius: 50px;
    width: 20vw;
    height: auto;
    left: 50vw;
    bottom: 13vh;
    box-shadow: inset 0px 0px 2px 2px rgba(0,0,0,0.2);
}
#inBar{
    position: relative;
    background: cornflowerblue;
    border-radius: 50px;
    width: 8vw;
    height: 30px;
    left: 0;
    transform: none;
}
div{
    display: block;
    position: absolute;
    transform: translate(-50%,0);
}
div img{
    width: 8vw;
}
img[class^=drop]{
    position: relative;
    top: 0vh;
    width: 3vw !important;
}
.drop0{
    left: 7vw;
}
.drop1{
    left: 7vw;
}
.drop2{
    right: -7vw;
}
.dropDown{
    animation: dropAnim 1s ease-out 0s 1;
    -webkit-animation: dropAnim 1s ease-out 0s 1;
    -moz-animation: dropAnim 1s ease-out 0s 1;
}
@keyframes dropAnim{
    0%{top: 0vh}
    100%{top: 5vh}
}
@-webkit-keyframes dropAnim{
    0%{top: 0vh}
    100%{top: 5vh}
}
@-moz-keyframes dropAnim {
    0%{top: 0vh}
    100%{top: 5vh}
}

#p1{
    top: 8vh;
    left: 46vw;
}
#p2{
    top: 25vh;
    left: 30vw;
}
#p3{
    top: 25vh;
    left: 65vw;
    transform: scaleX(-1);
}
#p4{
    top:45vh;
    left: 18vw;
}
#p5{
    top: 45vh;
    left: 77vw;
    transform: scaleX(-1);
}
#flower{
    top: 40vh;
    left: 50vw;
}
#flower img{
    width: 20vw;
}