#capture{
    display: block;
    background: black;
}
#preview{
    width: 100vw;
    height: 90vh;
}
#shotCanvas{
    position: absolute;
    background: aquamarine;
    width: 100vw;
    height: 90vh;
}
#demoPlanet{
    position: absolute;
    transform: translate(200%,50%);
}

.before{
    visibility: hidden;
}
.after{
    visibility: visible;
    position: absolute;
    top: 0;
    left: 0;
}