#capture{
    display: block;
    background: black;
    visibility: hidden;
}
#preview{
    width: 100vw;
    height: 90vh;
}
#shotCanvas{
    position: absolute;
    transform: translate(0,-100);
    background: aquamarine;
    width: 100vw;
    height: 90vh;
}
#demoPlanet{
    position: absolute;
    transform: translate(200,-50);
}