body{
    overflow: hidden;
    height: 100vh;
}
div, video, canvas{
    overflow: hidden;
}
#capture{
    position: absolute;
    display: table;
    top: 10vh;
    background: black;
}
#prepare{
    width: 100vw;
}
#view{
    position: absolute;
    display: inline-block;
    top: 10vh;
    width: 100vw;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    z-index: 1;
    touch-action: none;
}
#shotCanvas{
    position: absolute;
    background: aquamarine;
    width: 100vw;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    z-index: 1;
    touch-action: none;
}
#planet0{
    position: fixed;
    display: inline-block;
    width: 30%;
    height: auto;
    z-index: 3;
}
.before{
    visibility: hidden;
}
.after{
    visibility: visible;
}
.opt{
    position: fixed;
    background: #FFE352;
    border: 4px solid #F3D63B;
    width: 22vw;
    color: rgba(195, 138, 28, 1);
    bottom: 10vh;
    z-index: 3;
}
#shot{
    transform: translate(-130%,0);
}
#rev{
    transform: translate(30%,0);
}
a{
    position: absolute;
    display: inline-block;
    width: 100%;
    font-family: Noto Sans CJK TC;
    font-style: normal;
    font-weight: 300;
    font-size: 50px;
    color: rgba(224,224,224,.7);
    top: 5vh;
    left: 50vw;
    text-align: center;
    transform: translate(-50%,-50%);
}