body{
    overflow: hidden;
    height: 100vh;
}
div, video, canvas {
    overflow: hidden;
}
#capture{
    position: absolute;
    display: table;
    top: 8vh;
    background: black;
}
#prepare{
    width: 100vw;
    touch-action: none;
}
#view{
    position: absolute;
    display: inline-block;
    top: 8vh;
    width: 100vw;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    z-index: 1;
    touch-action: none;
}
#shotCanvas{
    position: absolute;
    background: aquamarine;
    width: 100vw;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    z-index: 1;
    touch-action: none;
}
#planet0{
    position: fixed;
    display: inline-block;
    width: 30%;
    height: auto;
    z-index: 3;
}
.before{
    visibility: hidden;
}
.after{
    visibility: visible;
}
#flipBtn{
    display: inline-block;
    position: absolute;
    left: 100vw;
    transform: translate(-150%,10%);
}
#shotBtn{
    display: inline-block;
    position: fixed;
    left: 50vw;
    transform: translate(-50%,0);
    bottom: 5vh;
    z-index: 3;
}
.opt{
    position: fixed;
    width: 22vw;
    bottom: 5vh;
    z-index: 3;
}
#revBtn{
    transform: translate(-130%,0);
    background: #FFFFFF;
    border: 2px solid #C48A1C;
    color: #C48A1C;
}
#goDownloadBtn{
    transform: translate(30%,0);
    background: #FFE352;
    border: 4px solid #F3D63B;
    color: rgba(195, 138, 28, 1);
}
a{
    position: relative;
    display: inline-block;
    max-width: 100%;
    font-family: Noto Sans CJK TC;
    top: 3vh;
    padding-left: 10vw;
    font-style: normal;
    font-weight: 300;
    font-size: 50px;
    color: rgba(224,224,224,.7);
    text-align: left;
}
#photoMask{
    position: absolute;
    bottom: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color: black;
    z-index: 4;
}
#photoMask a{
    position: absolute;
    padding: 0;
    width: 100%;
    top: auto;
    bottom: 20vh;
    left: 50vw;
    text-align: center;
    transform: translate(-50%,50%);
}
#back{
    position: absolute;
    top: 50vh;
    left: 3vh;
    transform: translate(0,-750%);
}
#photo2{
    position: fixed;
    display: inline-block;
    top: 8vh;
    left: 50vw;
    transform: translate(-50%,0);
    width: 100vw;
    max-width: 100%;
    max-height: 100%;
}