@mixin flash($name,$dur){
  animation-name: $name;
  animation-duration: $dur;
  animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
}

body {
  background-color: #a8d4d9;
  background-repeat: no-repeat;
  background-size: auto;
  background-attachment: fixed;
  background-position: center;
  @include flash(bggrass,0.8s);
}