/*@mixin flash($name,$dur){
  animation-name: $name;
  animation-duration: $dur;
  animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
}*/
body {
  background-color: #a8d4d9;
  background-attachment: fixed;
  position: static;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: auto 100vh;
  height: 100vh;
  overflow: hidden;
}
img{
  max-width: 80%;
  max-height: 50%;
}
#scanShow{
  position: absolute;
  bottom: 30vh;
  left: 50vw;
  transform: translate(-50%,0);
  display: none;
}
#star img{
  position: absolute;
  display: inline-block;
  top: 2vh;
  left: 50vw;
  transform: translate(10%,0);
  -webkit-transform: translate(10%,0);
  -moz-transform: translate(10%,0);
  width: 40vw;
  height: auto;
}
#main img{
  position: absolute;
  bottom: 15vh;
  left: 50vw;
  transform: translate(-50%,0);
}
#dialog{
  position: fixed;
  bottom: 0;
  background-color: #1E1E1E;
  width: 100vw;
  height: 15vh;
  a{
    position: absolute;
    display: block;
    margin: 15px;
    font-family: Noto Sans CJK TC;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
  }
}
#me{
  color: #FFFFFF;
  text-shadow: 0px 0px 15px #FFFFFF;
}
#planet{
  color: #FFE352;
  text-shadow: 0px 0px 15px #FFFFFF;
}

#preview {
  background-color: #1E1E1E;
  position: absolute;
  top:10vh;
  height: 50vh;
  width: 100vw;
}