body {
  background-color: #010318;
  background-attachment: fixed;
  position: relative;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: auto 100vh;
  height: 100%;
  overflow: hidden;
}
.small{
  background-size: auto 85vh !important;
}
#screen{
  display: none;
  position: fixed;
  padding: 0;
  left: 0;
  transform: translate(0,0);
  top: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  opacity: 1;
  background-color: black;
  color: #FFFFFF;
  text-align: center;
  animation:none;
  z-index: 10;
  border: none;
  border-radius: 0;
}
img {
  max-width: 80%;
  max-height: 50%;
}
#instruct{
  background-image: none !important;
  height: 17vh !important;
  left: 0vw !important;
  bottom: 50vh !important;
  transform: translate(0, 40%) !important;
  background: rgba(196, 196, 196, 0.5);
  backdrop-filter: blur(11px);
  -webkit-backdrop-filter: blur(11px);
  font-family: Noto Sans CJK TC;
  font-size: 50px;
  line-height: 80px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.41px;
  color: #1E1E1E;
}
#scanShow {
  position: absolute;
  bottom: 30vh;
  left: 50vw;
  transform: translate(-50%, 0);
  display: none;
}

#star img {
  position: absolute;
  display: inline-block;
  top: 2vh;
  left: 50vw;
  transform: translate(10%, 0);
  -webkit-transform: translate(10%, 0);
  -moz-transform: translate(10%, 0);
  width: 40vw;
  height: auto;
}

#main div {
  position: absolute;
  display: inline-block;
  left: 50vw;
  transform: translate(-50%, 0);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
}

#dialog {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #1E1E1E;
  width: 100vw;
  height: 15vh;
}
#dialog a {
  position: absolute;
  display: block;
  margin: 15px;
  transform: translate(20px,20px);
  font-family: Noto Sans CJK TC;
  font-style: normal;
  font-weight: normal;
  font-size: 60px;
}
.opt{
  position: absolute;
  display: inline-block;
  height: 7vh;
  left: 50vw;
  font-family: Noto Sans CJK TC;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 75px;
  align-items: center;
  text-align: center;
  letter-spacing: -0.41px;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 20px 40px 20px 40px;
}
#next {
  position: fixed;
  display: inline-block;
  left: 50vw;
  bottom: 15vh;
  width: 15vw;
  height: auto;
  max-width: 100px;
  max-height: 10vh;
  transform: translate(300%, 250%);
}

#me {
  color: #FFFFFF;
  text-shadow: 0px 0px 15px #FFFFFF;
}

#planet {
  color: #FFE352;
  text-shadow: 0px 0px 15px #FFFFFF;
}

#preview {
  background-color: #1E1E1E;
  position: absolute;
  top: 10vh;
  height: 50vh;
  width: 100vw;
}

#flyStar {
  position: absolute;
  display: inline-block;
  left: 50vw;
  top: 60vh;
  transform: translate(-50%, 0) scale(3,3);
}

.starFly {
  animation: starFly 1s ease-out 0s 1;
  -webkit-animation: starFly 1s ease-out 0s 1;
  -moz-animation: starFly 1s ease-out 0s 1;
}

@keyframes starFly {
  100% {
    transform: translate(15vw, -45vh) scale(3,3);
    -webkit-transform: translate(15vw, -45vh) scale(3,3);
    -moz-transform: translate(15vw, -45vh) scale(3,3);
  }
}
@-webkit-keyframes starFly {
  100% {
    transform: translate(15vw, -45vh) scale(3,3);
    -webkit-transform: translate(15vw, -45vh) scale(3,3);
    -moz-transform: translate(15vw, -45vh) scale(3,3);
  }
}
@-moz-keyframes starFly {
  100% {
    transform: translate(15vw, -45vh) scale(3,3);
    -webkit-transform: translate(15vw, -45vh) scale(3,3);
    -moz-transform: translate(15vw, -45vh) scale(3,3);
  }
}
.state1 {
  background-image: url("../material/handplanet_2.png") !important;
  bottom: 28vh !important;
}

.state2 {
  background-image: url("../material/planet_smile.png") !important;
  bottom: 28vh !important;
  height: 30vh !important;
}

.state3 {
  background-image: url("../material/planet_happy_blue.png") !important;
  bottom: 28vh !important;
}

#mask{
  display: none;
  position: fixed;
  bottom: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  opacity: 0;
}
.shine{
  animation: shineAnim 2s ease-out 0s 1;
  -webkit-animation: shineAnim 2s ease-out 0s 1;
  -moz-animation: shineAnim 2s ease-out 0s 1;
}
@keyframes shineAnim {
  0%{opacity: 0}
  30%{opacity: 1}
  70%{opacity: 1}
  100%{
    opacity: 0;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
  }
}
@-webkit-keyframes shineAnim {
  0%{opacity: 0}
  30%{opacity: 1}
  70%{opacity: 1}
  100%{
    opacity: 0;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
  }
}
@-moz-keyframes shineAnim {
  0%{opacity: 0}
  30%{opacity: 1}
  70%{opacity: 1}
  100%{
    opacity: 0;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
  }
}
#mask2{
  display: block;
  position: fixed;
  bottom: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background: #000;
  opacity: 1;
}
.shine2{
  animation: shine2Anim 1s ease-out 0s 1;
  -webkit-animation: shine2Anim 1s ease-out 0s 1;
  -moz-animation: shine2Anim 1s ease-out 0s 1;
}
@keyframes shine2Anim {
  0%{opacity: 1}
  100%{
    opacity: 0;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
  }
}
@-webkit-keyframes shine2Anim {
  0%{opacity: 1}
  100%{
    opacity: 0;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
  }
}
@-moz-keyframes shine2Anim {
  0%{opacity: 1}
  100%{
    opacity: 0;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
  }
}